<% layout('./layout/boilerplate') -%>
<style>
  .outer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
  }
  .maps {
    width: 30vw;
    position: absolute;
    left: 0;
  }
  .driver {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  .arrivaltime {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .arrivaltime span {
    font-size: x-large;
  }
  .arrivaltime h4 {
    font-weight: 900;
  }
  .photo {
    display: flex;
    flex-direction: column;
  }
  .bikeDetails {
    width: 30rem;
    display: flex;
    justify-content: space-between;
  }
  .bikeDetails img {
    width: 5rem;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
  .bikeNum {
    font-size: xx-large;
    opacity: 0.7;
  }
  .driverDetails {
    font-size: x-large;
  }
  .dropIn {
    margin-top: 10px;
  }
  .rating {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }
  .rating p {
    font-size: 2rem;
  }

  input[type="radio"] {
    margin-left: 0.5rem;
  }
  .cancel-ride {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    margin-top: 5rem;
  }
  .arrivaltime .badge {
    margin-left: 0.25rem;
  }
  .success {
    margin: 0.5rem;
  }

  @media (max-width: 620px) {
    .bikeDetails {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .driver {
      width: 80%;
      text-align: center;
    }
    .bikeNum {
      font-size: 120%;
    }
    .details {
      justify-content: center;
      align-items: center;
    }
    .driverDetails {
      font-size: 100%;
    }
    .bikeNum + span {
      font-size: 80%;
    }
    .arrivaltime {
      width: 100%;
    }
    .arrivaltime h4,
    .arrivaltime span {
      font-size: 90%;
      height: fit-content;
    }

    .dropIn span {
      font-size: 80%;
    }
    .rating p {
      font-size: 100%;
    }
    .cancel-ride {
      font-size: 80%;
    }
  }
</style>

<div class="outer-container mt-3">
  <div class="driver">
    <div class="arrivaltime">
      <h4>Driver Arrives At</h4>
      <span class="badge text-bg-primary"><%= details.time %></span>
    </div>
    <hr />
    <div class="bikeDetails">
      <div class="photo">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs2/173502583/original/6a346e0505fac7746ebd790a5de335221c42a4a5/draw-a-simple-big-head-cartoon-from-your-photo.png"
          alt="" />
        <span style="font-weight: 900"><%= details.driverData[0].name%></span>
      </div>

      <div class="details">
        <span class="bikeNum"><%= details.driverData[0].bikeNum %></span>
        <span><%= details.driverData[0].bikeDesc %></span>
        <span>+91&nbsp;<%= details.driverData[0].phone %></span>
      </div>
    </div>
    <hr />
    <div class="driverDetails">
      <span style="font-weight: 800">Drive Details</span>
      <div class="dropIn">
        <i class="fa-solid fa-location-dot" style="color: #e32400"></i>
        <span>PickUp: </span>&nbsp;
        <span style="font-weight: 550"><%= details.pickUp %></span>
        <br />
        <i class="fa-solid fa-location-dot" style="color: #e32400"></i>
        <span>Destination: </span>&nbsp;
        <span style="font-weight: 550"><%= details.dropIn %></span>
        <br />
        <i class="fa-solid fa-money-bills" style="color: #669c35"></i>
        <span>Price: </span>&nbsp;
        <span style="font-weight: 550">&#8377;<%= details.price %></span>
      </div>
    </div>
  </div>
  <div class="rating">
    <form action="">
      <fieldset class="starability-slot">
        <p>Please rate your experience</p>
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
        <br />
        <button class="badge text-bg-success success">Submit</button>
      </fieldset>
    </form>
    <button class="badge text-bg-danger cancel-ride">Cancel Ride</button>
  </div>
</div>
